<app-header></app-header>
<section class="container-fluid">
    <section class="container">
        <h1>Escolha seu <span class="plano">PLANO</span></h1>
        <h4>Branco | Cinza | Preto | Ouro</h4>
        
        <article class="area">
            <div class="row">
                <div class="col-md-4 titulo bg1">
                    <p class='nomePlano'>PLANO BRANCO</p>
                    <div class="valores">
                        <p class="valorPlano"> r$ <span class="preco">49</span>,90 </p>
                    </div>
                </div>
                <div class="col-md-8 corpo">
                    <p class="descricaoPlano">• Área de Musculação e Aeróbicos<br>
                                            • Acesso a todas as aulas coletivas<br>
                                            • Sem restrição de horários<br>
                    </p>
                </div>
            </div>
        </article>

        <article class="area">
            <div class="row">
                <div class="col-md-4 titulo bg2">
                    <p class='nomePlano'>PLANO CINZA</p>
                    <div class="valores">
                        <p class="valorPlano"> r$ <span class="preco">59</span>,90 </p>
                    </div>
                </div>
                <div class="col-md-8 corpo">
                    <p class="descricaoPlano">• Área de Musculação e Aeróbicos<br>
                                            • Acesso a todas as aulas coletivas<br>
                                            • Sem restrição de horários<br>
                                            • Leve um amigo, GRÁTIS por 30 dias<br>
                    </p>
                </div>
            </div>
        </article>

        <article class="area">
            <div class="row">
                <div class="col-md-4 titulo bg3">
                    <p class='nomePlano'>PLANO PRETO</p>
                    <div class="valores">
                        <p class="valorPlano teste"> r$ <span class="preco">69</span>,90 </p>
                    </div>
                </div>
                <div class="col-md-8 corpo">
                    <p class="descricaoPlano">• Área de Musculação e Aeróbicos<br>
                                            • Acesso a todas as aulas coletivas<br>
                                            • Sem restrição de horários<br>
                                            • Leve três amigos, GRÁTIS por 30 dias<br>
                                            • Orientação em Grupo<br>
                    </p>
                </div>
            </div>
        </article>

        <article class="area">
            <div class="row">
                <div class="col-md-4 titulo bg4">
                    <p class='nomePlano'>PLANO GOLD</p>
                    <div class="valores">
                        <p class="valorPlano teste"> r$ <span class="preco">79</span>,90 </p>
                    </div>
                </div>
                <div class="col-md-8 corpo">
                    <p class="descricaoPlano">• Área de Musculação e Aeróbicos<br>
                                            • Acesso a todas as aulas coletivas<br>
                                            • Sem restrição de horários<br>
                                            • Leve três amigos, GRÁTIS por 30 dias<br>
                                            • Orientação Individual<br>
                                            • Nutricionista<br>
                                            • Musculação e Danças com acesso livre<br>
                    </p>
                </div>
            </div>
        </article>
    </section>
</section>

<app-footer></app-footer>