<app-header></app-header>

<section class="container">
    <h1>CONHEÇA NOSSOS PLANOS</h1>
    <h4>White | Gray | Black | Gold</h4>
    <article class="row area">
        <div class="card1 row col-md-12">
            <p class="col-md-4 titulo">caixa1</p>
            <p class="col-md-8 corpo">caixa2</p>
        </div>
    </article>

    <article class="row area">
        <div class="card1 row col-md-12">
            <p class="col-md-4 titulo">caixa1</p>
            <p class="col-md-8 corpo">caixa2</p>
        </div>
    </article>

    <article class="row area">
        <div class="card1 row col-md-12">
            <p class="col-md-4 titulo">caixa1</p>
            <p class="col-md-8 corpo">caixa2</p>
        </div>
    </article>

    <article class="row area">
        <div class="card1 row col-md-12">
            <p class="col-md-4 titulo">caixa1</p>
            <p class="col-md-8 corpo">caixa2</p>
        </div>
    </article>
</section>


<app-footer></app-footer>

