<section class="navbar navbar-expand-lg headerTotal">
    <article class="container-fluid">
      <div class="container">
        <div class="collapse navbar-collapse area" id="navbarNavAltMarkup">
          <img class="logo" [src]="logo">
            <nav class="navbar-nav">
              <a class="nav-link" href="#">Home</a>
              <a class="nav-link" href="/modalidades">Modalidades</a>
              <a class="nav-link" href="/planos">Planos</a>
              <a class="nav-link" href="/alunos">Alunos</a>
              <a class="nav-link" href="/alunosCadastrar">Cadastrar Alunos</a>
            </nav>
        </div>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </article>
  </section>


