<app-header></app-header>
<section class="container-fluid">
    <section class="container">
        <div class="card-group cartao">
            <div class="row">
                <div class="col-md-4 card" style="width: 18rem;">
                    <img src="card1" [src]="card_1" class="card-img-top" alt="Musculação">
                    <div class="card-body">
                    <h3 class="card-title">MUSCULAÇÃO</h3>
                    <p class="card-text">R$ <span class="valor">49</span>,90 </p>
                    <a href="#" class="btn btn-primary">Comece Já!</a>
                    </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                    <img src="card1" [src]="card_2" class="card-img-top" alt="Pilates">
                    <div class="card-body">
                    <h3 class="card-title">PILATES</h3>
                    <p class="card-text">R$ <span class="valor">49</span>,90 </p>
                    <a href="#" class="btn btn-primary">Comece Já!</a>
                    </div>
                </div>
                <div class="card col-md-4" style="width: 18rem;">
                    <img src="card1" [src]="card_3" class="card-img-top" alt="Funcional">
                    <div class="card-body">
                    <h3 class="card-title">FUNCIONAL</h3>
                    <p class="card-text">R$ <span class="valor">49</span>,90 </p>
                    <a href="#" class="btn btn-primary">Comece Já!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-group cartao">
            <div class="row">
                <div class="col-md-4 card" style="width: 18rem;">
                    <img src="card1" [src]="card_4" class="card-img-top" alt="Fitdance">
                    <div class="card-body">
                    <h3 class="card-title">FITDANCE</h3>
                    <p class="card-text">R$ <span class="valor">49</span>,90 </p>
                    <a href="#" class="btn btn-primary">Comece Já!</a>
                    </div>
                </div>
                <div class=" col-md-4 card" style="width: 18rem;">
                    <img src="card1" [src]="card_5" class="card-img-top" alt="Zumba">
                    <div class="card-body">
                    <h3 class="card-title">ZUMBA</h3>
                    <p class="card-text">R$ <span class="valor">49</span>,90 </p>
                    <a href="#" class="btn btn-primary">Comece Já!</a>
                    </div>
                </div>
            <div class="col-md-4 card" style="width: 18rem;">
                <img src="card1" [src]="card_5" class="card-img-top" alt="Ritmo">
                <div class="card-body">
                <h3 class="card-title">RITMO</h3>
                <p class="card-text">R$ <span class="valor">49</span>,90 </p>
                <a href="#" class="btn btn-primary">Comece Já!</a>
                </div>
            </div>
            </div>
        </div>
        
    </section>
</section>
<app-footer></app-footer>
